<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.harsh_shubham.jeeva_dhara">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/hello"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app_feedback"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".app_founders"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_contact_us"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_blood_facts"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_who_can"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_receive_blood"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_donate_blood"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".app_change_details"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".app_change_password"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_forgot_password"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_no_internet_page"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_pin_verification"
            android:screenOrientation="portrait"/>
        <activity android:name=".app_login_screen" android:screenOrientation="portrait"/>
        <activity
            android:name=".app_set_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app_user_registration"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".app_welcome_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app_hello_there"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>